%form.filters.box{ action: vacancies_path, onchange: 'submit()' }
  - Vacancy::REMOTENESS.each do |filter|
    .field
      %input{ class: "is-checkradio is-block is-#{filter}", type: 'checkbox', id: "filter-#{filter}", name: filter, checked: @filters[filter] }
      %label{ for: "filter-#{filter}" }
        = t("vacancies.remoteness.#{filter}")
  - Vacancy::INVOLVEMENT.each do |filter|
    .field
      %input{ class: "is-checkradio is-block is-#{filter}", type: 'checkbox', id: "filter-#{filter}", name: filter, checked: @filters[filter] }
      %label{ for: "filter-#{filter}" }
        = t("vacancies.involvement.#{filter}")
