- content_for(:page_title) { 'Register' }

.container.has-text-centered
  .columns.is-centered
    .column.is-two-thirds-tablet.is-half-desktop.is-one-third-widescreen
      %h3.title.has-text-grey Register

      .box.has-text-left
        = form_tag auth_register_path do
          .field
            - email_error = @errors && @errors[:email]
            - email_value = @values && @values[:email]
            %div{ class: "control has-icons-left #{email_error && 'has-icons-right'}" }
              %input{ class: "input #{email_error && 'is-danger'}", type: :email, name: :email, value: email_value, placeholder: 'Email', autofocus: true }
              %span.icon.is-small.is-left
                %i.fas.fa-envelope
              - if email_error
                %span.icon.is-small.is-right
                  %i.fas.fa-exclamation-triangle
            - if email_error
              %p.help.is-danger= 'Email ' + email_error

          .field
            - password_error = @errors && @errors[:password]
            - password_value = @values && @values[:password]
            %div{ class: "control has-icons-left #{password_error && 'has-icons-right'}" }
              %input{ class: "input #{password_error && 'is-danger'}", type: :password, name: :password, value: password_value, placeholder: 'Password' }
              %span.icon.is-small.is-left
                %i.fas.fa-lock
              - if password_error
                %span.icon.is-small.is-right
                  %i.fas.fa-exclamation-triangle
            - if password_error
              %p.help.is-danger= 'Password ' + password_error

          .field
            - name_error = @errors && @errors[:name]
            - name_value = @values && @values[:name]
            %div{ class: "control has-icons-left #{name_error && 'has-icons-right'}" }
              %input{ class: "input #{name_error && 'is-danger'}", type: :text, name: :name, value: name_value, placeholder: 'Name' }
              %span.icon.is-small.is-left
                %i.fas.fa-address-card
              - if name_error
                %span.icon.is-small.is-right
                  %i.fas.fa-exclamation-triangle
            - if name_error
              %p.help.is-danger= 'Name ' + name_error

          %button.button.is-block.is-info.is-fullwidth Register

          .p.has-text-centered.has-padding-top-15.has-padding-bottom-15
            OR

          %a.button.is-block.is-dark.is-fullwidth{ href: auth_github_path, data: { turbolinks: 'false' } }
            %span.icon
              %i.fab.fa-github
            %span Register with GitHub

      %p.has-text-grey
        %a{ href: auth_login_path } Login
         · 
        %a{ href: auth_forgot_password_path } Forgot Password
