-# =1= 2  3 ...
-#  1 =2= 3  4 ...
-#  1  2 =3= 4  5 ...
-#  1  2  3 =4= 5  6 ...
-#  1  2  3  4 =5= 6  7 ...
-#  1  2  3  4  5 =6= 7  8 ...
-#  1  2  ...   5  6 =7= 8  9 ...
-#  ...
-#  1  2  ...  128  129 =130= 131  132 ...
-#  1  2  ...       129  130 =131= 132  133  134
-#  1  2  ...            130  131 =132= 133  134
-#  1  2  ...                 131  132 =133= 134
-#  1  2  ...                      132  133 =134=

- neighbors = 2
- spot_size = 2 * neighbors + 1

- if @total_pages > 0
  %nav.pagination.is-centered{ 'aria-label' => 'pagination', :role => 'navigation' }
    - if @current_page > 1
      %a.pagination-previous{ href: posts_path(page: @current_page - 1) } Previous
    - if @current_page < @total_pages
      %a.pagination-next{ href: posts_path(page: @current_page + 1) } Next page

    - current_spot = Array.new(spot_size) { |i| i + @current_page - neighbors }.select { |i| i > 0 && i <= @total_pages }
    - first_spot = Array.new(spot_size) { |i| i - neighbors }.select { |i| !current_spot.include?(i) && i > 0 && i <= @total_pages }
    %ul.pagination-list
      - first_spot.each do |p|
        %li
          %a.pagination-link{ href: posts_path(page: p), 'aria-label' => "Goto page #{p}" }= p
      - if first_spot.last && current_spot.first
        - if first_spot.last == current_spot.first - 2
          - p = current_spot.first - 1
          %li
            %a.pagination-link{ href: posts_path(page: p), 'aria-label' => "Goto page #{p}" }= p
        - elsif first_spot.last < current_spot.first - 2
          %li
            %span.pagination-ellipsis …
      - unless current_spot.empty?
        - current_spot.each do |p|
          - if p == @current_page
            %li
              %a.pagination-link.is-current{ 'aria-current' => 'page', 'aria-label' => "Page #{p}" }= p
          - else
            %li
              %a.pagination-link{ href: posts_path(page: p), 'aria-label' => "Goto page #{p}" }= p
        - if current_spot.last == @total_pages - 1
          %li
            %a.pagination-link{ href: posts_path(page: @total_pages), 'aria-label' => "Goto page #{@total_pages}" }= @total_pages
        - elsif current_spot.last < @total_pages - 1
          %li
            %span.pagination-ellipsis …
