- unless @posts.empty?
  - @posts.each do |post|
    - new_post = @last_visit_at && post.last_fetched_at.to_i > @last_visit_at
    %article{ class: "message #{new_post ? 'fresh-post' : ''}" }
      .message-header
        %b= post.employer&.name
        %i= time_ago_in_words(post.published_at) + ' ago'
      .message-body.content
        .tags
          - Post::REMOTENESS.each_with_index do |f, i|
            - if post.remoteness & (1 << i) > 0
              %span{ class: "tag is-#{f}" }= t("posts.remoteness.#{f}")
          - Post::INVOLVEMENT.each_with_index do |f, i|
            - if post.involvement & (1 << i) > 0
              %span{ class: "tag is-#{f}" }= t("posts.involvement.#{f}")

        -#%p= post.raw_text
        .box.is-size-7
          - parsed = Parsers::HackerNews.parse(post.raw_text)
          -#%p= parsed[:text]

          %ul
            - parsed[:paragraphs].each do |p|
              %li= p
          %ol
            - parsed[:urls].each do |url|
              %li= url
          %ol
            - parsed[:emails].each do |email|
              %li= email

        .tags
          - parsed[:technologies].each do |p|
            %span.tag.is-info= p
