.container.has-text-centered
  .columns.is-centered
    .column.is-two-thirds-tablet.is-half-desktop.is-one-third-widescreen
      %h3.title.has-text-grey Change password

      = render 'layouts/notification'

      - if @token_error
        - content_for(:page_title) { 'Link error' }
        .box
          %p.content.has-text-grey= @token_error

      - elsif @success
        - content_for(:page_title) { 'Password updated!' }
        .box
          %p.content.has-text-grey The password is changed. You are logged in now.
          %a.button.is-block.is-info.is-fullwidth{ href: root_path } Proceed

      - else
        - content_for(:page_title) { 'Change your password' }
        .box.has-text-left
          %p.content.has-text-grey.has-text-centered
            Make sure new password is at least #{Auth.password_length.first} characters including a number, an uppercase and a lowercase letter.
          = form_tag auth_reset_password_path do
            %input{ type: :hidden, name: :token, value: @token }
            .field
              - password_error = @errors && @errors[:password]
              %div{ class: "control has-icons-left #{password_error && 'has-icons-right'}" }
                %input{ class: "input #{password_error && 'is-danger'}", type: :password, name: :password, placeholder: 'Password' }
                %span.icon.is-small.is-left
                  %i.fas.fa-lock
                - if password_error
                  %span.icon.is-small.is-right
                    %i.fas.fa-exclamation-triangle
              - if password_error
                %p.help.is-danger= 'Password ' + password_error

            %button.button.is-block.is-info.is-fullwidth Change password

        %p.has-text-grey
          %a{ href: auth_login_path } Login
           · 
          %a{ href: auth_register_path } Register
