!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title= (content_for?(:page_title) ? yield(:page_title) + ' | ' : '') + 'Jobasis'
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: 'shortcut icon', type: 'image/x-icon', href: asset_pack_path('media/images/favicon.ico') }
    %link{ rel: 'apple-touch-icon', type: 'image/x-icon', href: asset_pack_path('media/images/apple-touch-icon.png') }
    = render 'layouts/gtag'
    = stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  - navbar_locals = controller_path.start_with?('auth/') ? {} : { auth_links: true }
  - if content_for?(:full_height)
    %body.application
      %section.hero.is-fullheight
        .hero-head
          = render 'layouts/navbar', navbar_locals
        .hero-body
          .container
            = yield
        .hero-foot
          = render 'layouts/footer'
  - else
    %body.application.has-navbar-fixed-top
      = render 'layouts/navbar', navbar_locals.merge(fixed_top: true)
      %section.section
        .container
          = render 'layouts/notification'
          = yield
      = render 'layouts/footer'
